body {
	background-color: #0a0a0a;
	background-image: url("bgdark.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
	font-family: 'Comfortaa', cursive;
	overflow: hidden;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #050505;
	opacity: 0.75;
	border-radius: 25px;
}

li.navlink {
	float: left;
}

li.rightlink {
	float: right;
}

li.centerlink {
	margin-left: auto;
	margin-right: auto;
}

ul.navbar :is(.navlink, .rightlink, .centerlink) a {
	border-radius: 25px;
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 1s;
}

ul.navbar :is(.navlink, .rightlink, .centerlink) a:hover {
	background-color: #1a1a1a;
}

.window {
	position: absolute;
	z-index: 9;
	background-color: 050505;
	text-align: center;
	border-radius: 25px;
	border-collapse: separate;
	overflow: hidden;
}

.windowheader {
	cursor: move;
	z-index: 10;
	background-color: #050505;
	color: #FFFFFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.windowicon {
	float: left;
	height: 100%;
}
.windowbuttons {
	float: right;
	height: 100%;
}

.forminput {
	width: 100%;
	border: 2px solid white;
	padding: 2px;
	border-radius: 10px;
	background-color: #050505;
	color: #FFFFFF;
	padding-top: 5px;
	resize: none;
	font-family: 'Comfortaa', cursive;
	transition: 0.5s;
	outline: none;
}

*:hover *:focus {
	outline: none;
}

.forminput:hover {
	border: 2px solid #246bce;
	outline: none;
}

.forminput:focus {
	border: 3px solid #246bce;
	outline: none;
}


input[type=submit] {
	font-family: 'Comfortaa', cursive;
	margin-top: 5px;
	width: 100%;
	color: white;
	background-color: #0a0a0a;
	border: 2px solid white;
	border-radius: 10px;
	transition: 0.5s;
}

input[type=submit]:hover {
	border: 2px solid #246bce;
}

#contactbody {
	padding: 10px;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right
}

